#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0;
  width: 100%;

}

#nav-bar .compose {
  background-color: #4bbd7a;
  border-color: #10582d;
  border-radius: 10px;
  color: #ffffff;
  float: right;
  height: 40px;
  width: 120px;
}

#nav-bar .h1 {
  font-size: 200%;
  height: 80px;
  line-height: 80px;
  margin-left: 10px;
  margin-right: 13.5em;
  width: 100%;

}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

