

main .new-tweet {
  background-color: #e2dede;
  border-radius: 10px;
  display: none;
  height: 160px;
  margin: 120px auto;
  padding-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0;
  width: 380px;

}

h2 {
  border-bottom: 1px solid black
}

textarea {
  height: 80px;
  padding-top: 0px;
  width: 300px;
}

.counter {
  padding-left: 220px;
}
